# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# ======================
# Virtual environments
# ======================
.venv/
venv/
ENV/
env/

# ======================
# Jupyter / Colab
# ======================
.ipynb_checkpoints/
*.ipynb
*.log

# ======================
# IDE / OS
# ======================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ======================
# Full datasets (ignored)
# ======================
RGB_images/
NRG_images/
masks/
results/
dead_trees_segmentation/

# ======================
# Allow example subsets
# ======================
!data/examples_*/

# ======================
# Optional large raster formats
# ======================
*.tif
*.tiff
*.geotiff
# ======================
# Config files
# ======================
config.yaml
            